#my-button_black, #joueur1,#joueur2 {
  /* background-color: rgb(91, 67, 6); */
    background-image:url('background_black_damier.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border:2px solid black;
  }

  #my-button_black_nfikh{
    /* background-color: rgb(91, 67, 6); */
      background-image:url('background_black_damier_nfikh.png');
      background-repeat: no-repeat;
      background-size: cover;
      border:2px solid black;
    }

  #my-button_gold{
    /* background-color: rgb(236, 224, 153); */
    background-image:url('background_white_damier.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border:2px solid black;
  }
  #autre_mvt_possible{
    background-image:url('background_black_damier.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border:2px solid rgb(255, 249, 217);
  }
  #mvt_possible{
    background-image:url('background_black_damier.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border:2px solid rgb(255, 194, 40);
  }
  #pion_selected{
    background-image:url('background_black_damier.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid goldenrod;
    border-radius: 7px;
  }
  #joueur1:hover,#joueur2:hover{
    border: 5px solid goldenrod;
    border-radius: 7px;
  }

#window{
  background-image:url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#login_wind{
  background-image:url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#score
{
  font-size: 45px;
  color: #ffffff;
  font-family: fantasy;
  border:  5px solid #ffffff;
  padding: 8px;
  border-radius: 20px;
}
#framePr
{
  font-size: 45px;
  color: #ffffff;
  font-family: fantasy;
  border: 5px solid #fbfbfb;
  padding: 8px;
  border-radius: 20px;
}

#BoxMode{
  background-color: rgba(0, 0, 0, 0.479);
  padding: 50px;
}
#btn_mode_quitter,#btn_mode_commencer
{
  margin:40px 10px 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 50px;
}

#btn_mode2_On
{
  border: 4px solid black;
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
}
#btn_mode2_Off
{
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
}

#black_color_Off{
  background-image:url('blackimg.jpeg');
  color: rgb(255, 255, 255);
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
}
#black_color_On{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
  border: 4px solid black;
}

#white_color_Off{
  background-image:url('blackimg.jpeg');
  color: rgb(255, 255, 255);
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
}
#white_color_On{
  background-color: rgb(252, 252, 252);
  color: rgb(0, 0, 0);
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
  border: 4px solid black;
}


#btn_mode1_On
{
  border: 4px solid black;
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
}
#btn_mode1_Off
{
  margin: 20px 10px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
  border-radius: 10px;
}

#fenetre_mode{
  background-image: url("background_mode.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#title_mode{
  color: white;
  font-size: 50px;
  font-family:fantasy;
  font-weight: bolder;
}